name: Generate Datas
on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: Platane/snk@master
        with:
          github_user_name: Hackerstefan
          svg_out_path: dist/github-contribution-grid-snake.svg
          github_token: ${{ secrets.GITHUB_TOKEN }}
